.status-in-progress{
    background-color: yellow;
  }
.status-open{
    background-color: red;
    color: white;
}
.status-closed{
    background-color: green;
    color: white;
}
.status-pending{
    background-color: orange;
}

/* Makes floating filters opaque */
.ag-theme-alpine .ag-floating-filter {
    background-color: white;
    opacity: 1;
    z-index: 2;
  }
  
  /* Makes popup filter panel (like for text/date/number filters) opaque */
  .ag-theme-alpine .ag-filter {
    background-color: white;
    opacity: 1;
    z-index: 10;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .green-background {
    background-color: lightgreen;
}
.yellow-background {
    background-color: yellow;
}
.red-background {
    background-color: red;
}